html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* sets base font size to 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

/* Global styles */
a {
  text-decoration: none;
  color: #695125;
}

/* Set background color */
header {
  background: #efe3b8;
}

/* Header style */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 8rem 0;
  padding-right: 5rem;
}

.brand {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
}

ul {
  display: flex;
  font-size: 2rem;
  gap: 2.5rem;
  list-style: none;
  align-items: center;
}

.nav-link {
  padding: 2.5rem;
}
.nav-link:hover {
  text-decoration: underline;
}

/* menu */
.menuIcon {
  display: none;
  width: 10rem;
}

/* Hero Section */

.hero,
button {
  color: #efe3b8;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 85vh;
  background-image: url(./images/hero-bg.png);
  background-size: cover;
  gap: 5rem;
}

.heroTag {
  font-size: 15rem;
  padding: 2.5rem;
}

span {
  font-style: italic;
}

button {
  background: none;
  padding: 2.5em 5em;
  border-color: #efe3b8;
  border: solid 2px;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 1s;
  padding: 2em 8em;
}

button:hover {
  background: #695125;
}
