/* You can use the SVG icons in a commercial project and you can consider giving proper credits to the author (Flowbite) and link back to the Flowbite website. Mentioning Flowbite is mandatory if the commercial product is a theme, templates, UI kit, UI component library or anything that can be considered as a direct competitor to Flowbite. */
/* FLOWBITE COPYRIGHT ^ */
/* FREEICONS.IO */
/* Icon by <a href="https://freeicons.io/profile/3">icon king1</a> on <a href="https://freeicons.io">freeicons.io</a> */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* sets base font size to 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Scroll js styles */

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  filter: drop-shadow(0 -10px 20px black);
}

/* Set Font */

/* monsterrat font*/
.nav-link.monsterrat {
  font-family: "Monsterrat", sans-serif;
}

/* playfair font - replaces LOVELACE font*/
.heroTag.playFair,
.heading.playFair {
  font-family: "Playfair Display", serif;
}

/* raleway font - replaces TT DRUGS font*/

.raleway {
  font-family: "Raleway", sans-serif;
}
/* Global styles */
.a-nostyle {
  text-decoration: none;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* set height for each section */
.section {
  padding: 10rem;
  min-height: min-content;
}

.heading {
  font-size: 7.5rem;
}
/* Set background color */
header {
  background: #efe3b8;
}

/* Header style */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}

.brand {
  display: flex;
  align-items: center;
}

img.brandLogo {
  height: auto;
  width: 30rem;
  padding: 2.5rem;
}

nav {
  display: flex;
  margin-left: auto;
}

.links ul {
  display: flex;
  font-size: 2rem;
  gap: 2.5rem;
  list-style: none;
  align-items: center;
}

.links a {
  color: #695125;
}

.nav-link {
  padding: 2.5rem;
}
.nav-link:hover {
  text-decoration: underline;
}

/* menu */
.menuIcon {
  display: none;
  width: 10rem;
}

.close {
  display: none;
}
/* Hero Section */

.hero,
button {
  color: #efe3b8;
}
.section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(./images/hero-bg.png);
  background-size: cover;
  gap: 5rem;
  padding: 20rem 30rem 15rem 30rem;
  height: 80vh;
}

.heroTag {
  font-size: 8rem;
  padding: 2.5rem;
}

span {
  font-style: italic;
}

button {
  background: none;
  padding: 2.5em 5em;
  border-color: #efe3b8;
  border: solid 2px;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 1s;
  padding: 2.5rem 15rem;
}

button:hover {
  background: #695125;
}

/* About us section */

.section.about-us {
  display: flex;
  background-color: #b89e6f;
  color: #fffcf0;
  justify-content: space-around;
  padding: 0 5rem;
  align-items: center;
}

.about-us.info {
  width: 70rem;
}

.about-us.info,
.about-us.img {
  padding: 10rem 2.5rem;
}

.about-us.text {
  font-size: 1.75rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  word-spacing: 0.25rem;
  line-height: 4rem;
}

.about-us img {
  height: auto;
  width: 50rem;
}

/* Our services */

.section.our-services {
  display: flex;
  background-color: #efe3b8;
  justify-content: center;
  align-items: center;
  color: #695125;
  flex-direction: column;
  text-align: center;
  padding: 5rem 0;
}

.our-services-categories {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
}

.our-services.card {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 15rem;
}

.our-services.card .our-services.info {
  text-align: left;
  width: max-content;
}

.our-services.card.right {
  grid-template-areas: "left right";
}

.our-services.card.right .our-services-logo {
  grid-area: right;
}

.our-services.card.right .our-services.info {
  text-align: right;
  justify-self: right;
}

.our-services-logo img {
  height: auto;
  width: 45rem;
}

.our-services.info {
  color: #695125;
}

.our-services.category {
  font-size: 3rem;
}

.our-services.text {
  margin-top: 2rem;
  font-size: 2rem;
  max-width: 50rem;
  word-spacing: 0.25rem;
  line-height: 4rem;
}

/* client feedback */
.section.client-feedback {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #695125;
  color: #efe3b8;
}

.client-feedbacks {
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.client-feedback.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 35rem;
  width: 40rem;
  align-self: center;
  margin: 1rem 2rem;
  background-color: #efe3b8;
  color: #695125;
  justify-content: space-between;
  border-radius: 1rem;
}

.client-feedbacks .client:nth-child(2) {
  transition-delay: 200ms;
}

.client-feedbacks .client:nth-child(3) {
  transition-delay: 400ms;
}

.client-feedback.card .google-logo {
  height: auto;
  width: 5rem;
}

.client-comment {
  margin-top: 2rem;
}

.client-name {
  font-size: 3rem;
}

.client-comment {
  font-size: 2rem;
}

.bold {
  font-weight: 700;
}

/* FAQ */

.section.faq {
  background-color: #efe3b8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5rem;
}

.section.faq .questions {
  display: flex;
  flex-direction: column;
}

.question-card {
  background-color: #b89e6f;
  font-size: 2rem;
  padding: 1.5rem;
  text-align: start;
  max-width: 95rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  position: relative;
  margin: 10px 20px;
}

.question-card .question {
  position: relative;
  padding: 1rem;
  background: #b89e6f;
  color: black;
  cursor: pointer;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.question-card .question::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  font-size: 4rem;
}

.question-card.active .question::before {
  content: "-";
}

.question-card .answer {
  position: relative;
  background: #b89e6f;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  padding: 0;
}

.question-card.active .answer {
  height: min-content;
  padding: 1rem;
}

/* Contact us */
.section.contact-us {
  background-color: #695125;
  display: flex;
  text-align: center;
  justify-content: space-around;
  color: #efe3b8;
  gap: 5rem;
  flex-wrap: wrap-reverse;
}

.section .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-us .map iframe {
  border-radius: 1rem;
}

.contact-info.card {
  display: flex;
  align-content: center;
  text-align: left;
  margin-top: 5rem;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  font-size: 1.8rem;
  color: #efe3b8;
}

.contact-info.card.hover:hover {
  text-decoration: underline;
}

.contact-info.card img {
  width: 4rem;
}

.contact-info.text p {
  margin-bottom: 1rem;
}

/* footer */
footer {
  text-align: center;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efe3b8;
  padding: 1rem;
}

footer p {
  font-size: 1.5rem;
}

/* services.html */

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services {
  background: #695125;
  color: #efe3b8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3.5rem;
  padding-top: 22.5rem;
}

.service-card {
  width: 60rem;
  margin: 6.5rem;
}

.service-name {
  display: flex;
  font-size: 3rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
}

.sub-heading {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.column-container {
  margin-left: auto;
}
.inline {
  display: inline;
}

.inline.time {
  margin: 0 1.5rem;
}

.services-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2.5rem;
  border-left: solid 1px #efe3b8;
}

.services-list li {
  display: flex;
  margin-bottom: 2.5rem;
  width: 57rem;
  padding-left: 2rem;
}

.services-list li .prices {
  margin-left: auto;
}

.inline.price.second-column {
  margin-left: 9rem;
}

.book-button {
  text-align: center;
}

.book-button button:hover {
  background: #efe3b8;
  color: #695125;
}

/* media queries */

@media only screen and (max-width: 1075px) {
  .heading {
    font-size: 5.5rem;
  }

  /* scrolling reset */
  .scroll-down header,
  .scroll-up header {
    transform: unset;
  }

  /* nav */
  .open-nav {
    transform: translateX(0%);
  }

  /* header */
  header {
    padding: 0.8rem;
  }
  nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: rgb(246, 240, 219);
    flex-direction: column;
    width: 50%;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }

  .close {
    display: unset;
    height: auto;
    width: 2.5rem;
    margin: 2rem 2rem 2rem auto;
    cursor: pointer;
  }

  .links ul {
    display: inline-block;
    margin-top: 8rem;
  }

  .links ul a {
    color: #695125;
    padding: 0.75em 2em;
    display: block;
  }

  .links ul a:hover {
    background: rgb(202, 202, 202);
  }

  .nav-link:hover {
    text-decoration: none;
  }

  img.brandLogo {
    height: auto;
    width: 30rem;
    padding: 2.5rem;
  }

  .menuIcon {
    display: unset;
    width: 8.5rem;
    cursor: pointer;
  }

  .menu {
    padding: 1rem;
  }

  /* Hero section */

  .section.hero {
    padding: 17.5rem 17.5rem 5rem 17.5rem;
  }

  .heroTag {
    font-size: 10rem;
    padding: 1.5rem;
  }

  button {
    font-size: 1.5rem;
  }
  /* services */
  .our-services.card {
    display: unset;
    grid-template-columns: unset;
    align-items: center;
    gap: 15rem;
  }

  .our-services.card .our-services.info {
    text-align: center;
    width: unset;
  }

  .our-services.card.right {
    grid-template-areas: unset;
  }

  .our-services.card.right .our-services-logo {
    grid-area: unset;
  }

  .our-services.card.right .our-services.info {
    text-align: center;
    justify-self: center;
  }

  /* about us */

  .about-us.img,
  .map {
    display: none;
  }

  .about-us.text {
    font-size: 2rem;
    margin-top: 5rem;
  }

  /* client feedback */

  .client-name {
    font-size: 2.5rem;
  }

  .client-comment {
    font-size: 1.7rem;
  }

  /* faq */
  .question-card {
    background-color: #b89e6f;
    font-size: 2.2rem;
  }

  /* services .html */
  .services {
    padding-top: 17rem;
  }

  .service-name {
    font-size: 2.4rem;
  }

  .services-list {
    font-size: 2rem;
  }

  .service-card {
    margin: 4.5rem;
    /* change width */
  }

  .column-container {
    margin-left: auto;
  }

  .services-list li {
    width: 57rem;
    padding-left: 2rem;
  }

  .inline.price.second-column {
    margin-left: 9rem;
  }

  .book-button button {
    padding: 2rem 10rem;
  }
}

/* 680 break point */
@media only screen and (max-width: 680px) {
  .heading {
    font-size: 3.5rem;
  }
  /* header */
  img.brandLogo {
    width: 20rem;
    padding: 1rem;
  }

  .menuIcon {
    width: 4.5rem;
  }

  /* Hero section */

  .section.hero {
    padding: 10.5rem 10.5rem 5.5rem 10.5rem;
    height: unset;
  }
  .heroTag {
    font-size: 7.5rem;
    padding: 1.5rem;
  }

  button {
    font-size: 1.5rem;
  }

  /* about us */

  .about-us.info .heading {
    text-align: center;
  }
  .about-us.text {
    font-size: 1.25rem;
  }

  /* our services */
  .our-services-logo img {
    height: auto;
    width: 25rem;
  }

  .our-services.category {
    font-size: 2.2rem;
  }

  .our-services.text {
    font-size: 1.6rem;
  }

  /* client feedback */

  .client-feedback.card {
    height: 35rem;
    width: 30rem;
  }

  .client-name {
    font-size: 2.2rem;
  }

  .client-comment {
    font-size: 1.5rem;
  }

  /* faq */
  .question-card {
    font-size: 1.7rem;
  }

  .question-card .question {
    font-size: 1rem;
  }

  .question-card .question::before {
    font-size: 2rem;
  }

  /* contact-info */
  .contact-info.card {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 2.5rem;
    font-size: 1.5rem;
  }

  /* services.html */

  .services {
    padding-top: 10rem;
  }

  .service-name {
    font-size: 1.5rem;
  }

  .sub-heading {
    font-size: 1.25rem;
  }

  .services-list {
    font-size: 1.3rem;
  }

  .service-card {
    margin: 4.5rem;
    /* change width */
    max-width: 38rem;
  }

  .column-container {
    margin-left: auto;
  }

  .services-list li {
    max-width: 35rem;
    padding-left: 2rem;
  }

  .service.column {
    margin-bottom: -5rem;
  }

  .inline.price.second-column {
    margin-left: 6rem;
  }

  .book-button {
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 425px) {
  .heading {
    font-size: 3rem;
  }

  .section {
    padding: 7.5rem;
  }

  /* Hero section */

  .section.hero {
    padding: 10.5rem 10.5rem 5.5rem 10.5rem;
    height: unset;
  }
  .heroTag {
    font-size: 7.5rem;
    padding: 1.5rem;
  }

  button {
    font-size: 1.5rem;
    padding: 1.5rem 6rem;
  }

  /* our services */
  .our-services-logo img {
    height: auto;
    width: 22.5rem;
  }

  .our-services.category {
    font-size: 2rem;
  }

  .our-services.text {
    font-size: 1.4rem;
  }

  /* client feedback */

  .client-feedback.card {
    height: 30rem;
    width: 28rem;
  }

  .client-name {
    font-size: 2.2rem;
  }

  .client-comment {
    font-size: 1.5rem;
  }

  /* faq */
  .question-card {
    font-size: 1.7rem;
  }

  /* contact-info */
  .contact-info.card {
    margin-top: 2.25rem;
    font-size: 1.25rem;
  }
  /* service.html */
  .service-card {
    margin: 4.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service-name {
    font-size: 1.4rem;
    padding: 2rem 0;
    margin-bottom: 1rem;
  }

  .services-list {
    font-size: 1.1rem;
  }

  .column-container {
    margin-left: 8rem;
  }

  .book-button button {
    padding: 1rem 3rem;
    max-width: auto;
  }

  .services-list li {
    max-width: 25rem;
  }
}

@media only screen and (max-width: 375px) {
  /* nav links */
  .links ul {
    font-size: 1.5rem;
  }
  /* service.html */
  .service-name {
    font-size: 1.25rem;
  }

  .services-list {
    font-size: 1.1rem;
  }

  .sub-heading {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  .heading {
    font-size: 2.75rem;
  }

  .section {
    padding: 5.5rem;
  }

  /* Hero section */

  .section.hero {
    padding: 10.5rem 10.5rem 5.5rem 10.5rem;
    height: unset;
  }
  .heroTag {
    font-size: 6.5rem;
    padding: 1.5rem;
  }

  button {
    font-size: 1.25rem;
    padding: 1.5rem 6rem;
  }

  /* about-us */
  .section.about-us {
    padding: 5.5rem 2.5rem;
  }

  .about-us.info {
    padding: unset;
  }

  .about-us.text {
    font-size: 1.5rem;
  }

  /* our services */

  .our-services-logo img {
    height: auto;
    width: 20rem;
  }

  .our-services.category {
    font-size: 1.8rem;
  }

  .our-services.text {
    font-size: 1.2rem;
  }

  /* client feedback */

  .client-feedback.card {
    height: 30rem;
    width: 28rem;
  }

  .client-name {
    font-size: 2.2rem;
  }

  .client-comment {
    font-size: 1.5rem;
  }

  /* faq */
  .question-card {
    font-size: 1.7rem;
  }

  /* contact-info */
  .contact-info.card {
    margin-top: 2.25rem;
    font-size: 1.25rem;
  }

  /* services.html */
  .service-name {
    font-size: 0.9rem;
    display: flex;
  }

  .services-list {
    font-size: 0.85rem;
  }

  .service-card {
    /* change width */
    max-width: 30rem;
  }
  .services-list li {
    max-width: 20rem;
  }
}
